@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 64px;
  background-image: url("../public/body_bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.frosty {
  background-color: rgb(53, 54, 58, 0.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  color: white;
}

.inputfieldClass {
  background-color: rgb(53, 54, 58, 0.5);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

.MuiPaper-root {
  background-color: rgb(53, 54, 58, 0.5);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  color: #ccc;
}
.MuiPaper-root button {
  color: #ccc;
}
.MuiPaper-root .css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
  color: #ccc;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: rgb(53, 54, 58, 0.9);
}
